<h3>スケジュール一覧</h3>

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

<table>
<%# １行目 %>
	<thead>
		<tr>
			<th>id</th>
			<th>タイトル</th>
			<th>開始日</th>
			<th>終了日</th>
			<th>確認</th>
			<th>編集</th>
			<th>削除</th>
		</tr>
	</thead>

<%# ２行目以降 %>
	<tbody>
    <%# users tableのレコードを全て格納する %>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.title %></td>
				<td><%= user.start.to_date %></td>
				<td><%= user.end_day.to_date%></td>
				<td><%= link_to "確認", user %></td>
				<td><%= link_to "編集", [:edit,user] %></td>
        <td><%= link_to "削除", user, data: { turbo_method: :delete, turbo_confirm: '本当に削除してもよろしいですか？' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p><%= link_to "スケジュール新規登録", :new_user %></p>